.calendar {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  height: 60px;
  width: 100%;
  background: #333;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-sidebar {
  max-width: 250px;
  transition: max-width 0.3s ease-in-out, min-width 0.3s ease-in-out, width 0.3s ease-in-out;
}

app-sidebar[collapsed] {
  width: 0;
  background-color: transparent;
}

.content {
  flex: 1;
  overflow: auto;
  height: 100%;
}

.content.collapsed {
  padding-left: 250px;
}
