<div class="mini-calendar-root ">
  <div class="calendar-header">
    <span class="month-year">{{ currentDay.toLocaleString('default', { month: 'long' }) }} {{ currentDay.getFullYear() }}</span>
    <div class="calendar-arrows">
      <button class="nav-button" (click)="prevMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button class="nav-button" (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="weekdays">
    <span *ngFor="let day of weekdays">{{ day }}</span>
  </div>

  <div class="days-grid">
    <span *ngFor="let cell of totalCells" [ngClass]="{'outside-month': cell.isOutsideMonth,
                                                      'current-day': cell.isCurrentDate}" class="day">
      {{ cell.day }}
    </span>
  </div>
</div>
