html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Zapobiega przewijaniu całej strony */
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-header {
  height: 60px;
  width: 100%;
  background: #333;
}

.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

/* Sidebar */
app-sidebar {
  max-width: 250px;
  transition: max-width 0.3s ease-in-out, min-width 0.3s ease-in-out;
}

app-sidebar[collapsed] {
  max-width: 0;
  min-width: 0;
  overflow: hidden;
}

/* Content */
.content {
  flex-grow: 1;
  transition: transform 0.3s ease-in-out;
  overflow: auto;
}

.content.collapsed {
  padding-left: 250px;
}
