aside {
  position: fixed;
  top: 60px;
  width: 250px;
  background: #f8f9fa;
  height: 100%;
  //transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
}

aside.collapsed {
  width: 0;
}

.toggle-btn {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.mini-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  max-width: 250px;
}

.create-btn {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 15px; /* Zaokrąglone krawędzie */
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodany cień */
}

.create-btn mat-icon {
  font-size: 20px;
}

.create-btn:hover {
  background-color: #98a8ba; /* Ciemniejszy kolor przy hoverze */
  transform: translateY(-2px); /* Mała animacja */
}

.create-btn:active {
  transform: translateY(0); /* Przytrzymanie przycisku */
}

.calendar-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.calendar-list {
  list-style: none;
  margin-top: 10px;
  width: 100%;
}

.calendar-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.calendar-item input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.calendar-item label {
  cursor: pointer;
}
