<div class="weekly-view">
  <div class="weekly-grid">
    <div class="hour-column">
      <div class="hour-label" *ngFor="let hour of hours">
        {{ hour }}:00
      </div>
    </div>
    <div *ngFor="let day of daysInWeek" class="day-column">
      <div
        class="day-header"
        [class.today]="isToday(day)"
        (click)="onDayClick(day)">
        {{ day | date: 'EEE, dd.MM' }}
      </div>
      <div class="day-content" (click)="onDayContentClick($event, day)">
        <div class="hour-row" *ngFor="let hour of hours">
          <div class="event-slot"></div>
        </div>
        <div *ngIf="isToday(day)" class="current-time-line" [ngStyle]="{'top': currentTimePosition + '%'}"></div>
      </div>
    </div>
  </div>
</div>
<app-event-popup
  [visible]="popupVisible"
  [position]="popupPosition"
  [event]="newEventData"
  (close)="popupVisible = false"
  (save)="onEventSave($event)">
</app-event-popup>

