html, body {
  margin: 0;      /* Usuwamy domyślne marginesy */
  padding: 0;     /* Usuwamy domyślne paddingi */
}

.app-container{
  height: 100%;   /* Zapewnia, że HTML i body zajmują pełną wysokość ekranu */
  width: 100%;
}
